@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Sacramento&display=swap');
 /*font poppins ("light300, regular400, and semi-bold 600")*/
 .clear{
 	clear:both;
 }
 @media only screen and (max-width:600px){
	div .column{
		width: 50%;
	}
	.minutes{
		padding-top: 40px;
	}
	.seconds{
		padding-top:40px;
	}
	.mediaTimer{
		padding: 70px;
	}
}

*{
	box-sizing: border-box;
}
.formatText{
	margin:0;
	padding:0;
	text-align: center;
	font-family: "Poppins", sans-serif;
	color:	white;
}

body{
	margin:0;
	padding:0;
	background-image: url("images/cover-red.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	overflow: hidden;
}
h1{
	font-family: 'Sacramento', cursive !important;
	padding: 0 5% !important;
	font-weight: 300;
	font-size: 12vmax;
}
.countdown{
	border-color: black;
	margin-top: 40px;
	height: 100%;
	padding:0 10% 0 10%;
	width: 100%;

/*	position: absolute;*/
}
.column{
	float:	left;
	width: 25%;
}
h2{
	font-weight: 300;
	font-size: 8vmax;
}
p{
	font-size: 2.5vmax;
}



.endTimer{
	font-family:'Sacramento', cursive;
	font-weight: 200;
	font-size: 15vmax;
	width: 100%;
	position: absolute;
	padding-top: 5%;
	padding-right: 5%;
}
